//R'BOTS v1

//@import "vendors/legacy/main";
//@import "vendors/legacy/theme-grey";


// import dirq_ui

@import "vendors/dirq_ui/scss/common/_variables";
@import "vendors/dirq_ui/scss/common/_mixins";
@import "vendors/dirq_ui/scss/common/_font";
@import "vendors/dirq_ui/scss/common/_styles";
@import "vendors/dirq_ui/scss/common/_flags";



@import "vendors/dirq_ui/scss/elements/_elements";
//@import "vendors/dirq_ui/scss/components/_components";
//@import "vendors/dirq_ui/scss/layout/_layout";
//@import "vendors/dirq_ui/scss/forms/_forms";


@import "../font/icons/icons.css";

@import "vendors/dirq_ui/scss/common/_font-icons";


//v3

@import "common/_mixins";
@import "common/_variables";
@import "common/_styles";

@import "components/_components";
@import "elements/_elements";
@import "tables/_tables";
@import "forms/_forms";
@import "layout/_layout";

body {
  font-size: $font-input;
  background-color: $darker;
  font-family: Read;
  color: #000000;
  letter-spacing: 0;
  line-height: 20px;
  font-weight: 300;
}