.rb-table-option {
  text-align: right;
  a {
    padding: 3px 5px;
    display: inline-block;
    margin-left: 6px;
    margin-bottom: 2px;
    & > i[class*="ico-"]{
      padding: 0;
      margin-top: 1px;
      display: block;
      &.ico-edit {
        opacity: 1;
      }
    }
    &:hover, &:focus {
      background-color: white;
      box-shadow: 0 3px 5px 0 rgba(102,133,173,0.75);
      border-radius: 3px;
      & > i {
        color: $blue;
      }
    }
    &:active {
      box-shadow: 0 3px 3px 0 rgba(102,133,173,0.4);
    }
  }
  button {
    background-color: transparent;
    margin-left: 15px;
    white-space: nowrap;
    &:hover, &:focus {
      background-color: transparent;
      opacity: 1;
      color: $dark-grey-blue;
      & > i {
        color: $dark-grey-blue;
      }
    }
    &:active {
      box-shadow: 0 2px 3px 0 rgba(102,133,173,0.4);
    }
  }
}