.rb-table-option {
  text-align: right;
  & > a {
    & > i {
      margin-left: 10px;
      &.ico-edit {
        opacity: 1;
      }
    }
    &:hover, &:focus {
      color: $dark-grey-blue;
      & > i {
        color: $dark-grey-blue;
      }
    }
  }
  button {
    background-color: transparent;
    margin-left: 15px;
    white-space: nowrap;
    &:hover, &:focus {
      background-color: transparent;
      opacity: 1;
      color: $dark-grey-blue;
      & > i {
        color: $dark-grey-blue;
      }
    }
  }
}