.rb-table-option {
  text-align: right;
  & > a {
    & > i {
      margin-left: 10px;
    }
    &:hover, &:focus {
      opacity: 0.7;
    }
  }
  button {
    background-color: transparent;
    margin-left: 15px;
    &:hover, &:focus {
      background-color: transparent;
      opacity: 0.7;
    }
  }
}