$table-line-bg: #F7F7F7;

.rb-table {
  @extend .table-label;
  font-size: $font-input;
  -webkit-font-smoothing: antialiased;
  position: relative;
  thead {
    background-color: transparent;
    border-top: medium none;
    border-left: medium none;
    border-right: medium none;
    border-bottom: $border;
    th {
      padding-right: 5px;
      line-height: 1.2;
      padding-bottom: 5px;
      &.rb-sort-list {
       & > a {
         color: $grey-blue;
         & > i {
           //margin-left: 3px;
           //font-size: 14px;
         }
         &:hover, &:focus {
           color: $blue;
         }
       }
      }
    }
  }
  tbody {
    border: medium none;
    background-color: transparent;
    tr {
      &:nth-child(even) {
        border-bottom: 0;
        background-color: rgba(0,0,0,0.03);
      }
      td {
        padding: 5px 5px 5px 0;
        &:first-child {
          font-weight: 500;
        }
        & > .rb-link-icon {
          //color: $grey-blue;
          &:hover, &:focus {
            //color: $blue;
          }
        }
        &.rb-table-option-col {
          position: relative;
          //right: calc(#{$padding-gutter*2} + #{$margin-gutter});
          padding: 0;
          right: 0;
          margin-right: 5px;
        }
        & > .rb-table-option {
          padding-right: 4px;
          display: none;
          //margin-right: 5px;
          position: absolute;
          right: 0;
          background-color: transparent;
          top: 0;
          height: 100%;
          align-items: center;
          & > a {
            &:hover, &:focus {
              & > .ico-trash {
                color: $red;
              }
            }
          }
          & > button[class*="button-blue"] {
            @include border-radius(3px);
          }
        }
        & > .rselect {
          padding: 4px;
          height: inherit;
          background-position: right 0.2rem center;
        }
      }
      &:hover, &:focus {
        box-shadow: $box-shadow-015;
        background-color: transparent;
        & > td {
          background-color: transparent;
          &:first-child {
            //color: $blue;
          }
          &.rb-table-option-col {
          }
          & > .rb-table-option {
            display: flex;
          }
        }
        &:nth-child(odd) {
          background-color: white;
          & > td {
            & > .rb-table-option {
              background-color: white;
            }
          }
        }
        &:nth-child(even) {
          background-color: rgba(0,0,0,0.03);
          box-shadow: $box-shadow-02;
          @include border-radius(3px);
          & > td {
            & > .rb-table-option {
              background-color: $table-line-bg;
            }
          }
        }
      }
    }
  }
  .ico-validation {
    &::before {
      font-size: 12px;
    }
  }
  .ico-warning-custom {
    background-color: $orange;
    width: 14px;
    height: 14px;
    display: block;
    @include border-radius(20px);
    //position: relative;
    &::before {
      content: '!';
      display: block;
      //position: absolute;
      color: white;
      font-size: 11px;
      font-weight: bold;
      text-align: center;
      font-family: Arial black !important;
      top: 1px;
      position: relative;
    }
  }
  .button-yellow-small {
    .ico-validation {
      &::before {
        font-size: 10px;
      }
    }
  }
  .rb-table-option {
    @include button-shadow;
  }
}