.rb-table {
  @extend .table-label;
  font-size: $font-input;
  -webkit-font-smoothing: antialiased;
  position: relative;
  thead {
    background-color: transparent;
    border-top: medium none;
    border-left: medium none;
    border-right: medium none;
    border-bottom: $border;
    th {
      padding-right: 5px;
      &.rb-sort-list {
       & > a {
         color: $grey-blue;
         & > i {
           //margin-left: 3px;
           //font-size: 14px;
         }
         &:hover, &:focus {
           color: $blue;
         }
       }
      }
    }
  }
  tbody {
    border: medium none;
    background-color: transparent;
    tr {
      &:nth-child(even) {
        border-bottom: 0;
        background-color: #f8f8f8;
      }
      td {
        padding: 6px 5px 6px 0;
        &:first-child {
          font-weight: 500;
        }
        & > .rb-link-icon {
          color: $grey-blue;
          &:hover, &:focus {
            color: $blue;
          }
        }
        &.rb-table-option-col {
          position: relative;
          //right: calc(#{$padding-gutter*2} + #{$margin-gutter});
          padding: 0;
          right: 0;
          //margin: 10px 10px 0 0;
        }
        & > .rb-table-option {
          //visibility: hidden;
          display: none;
          margin-right: 5px;
          position: absolute;
          right: 0;
          background-color: $cloud-blue;
          top: 0;
          height: 100%;
          align-items: center;
          & > a {
            &:hover, &:focus {
              & > .ico-trash {
                color: $red;
              }
            }
          }
        }
      }
      &:hover, &:focus {
        //box-shadow: $box-shadow;
        background-color: $cloud-blue;
        & > td {
          &:first-child {
            //color: $blue;
          }
          &.rb-table-option-col {
          }
          & > .rb-table-option {
            display: flex;
          }
        }
      }
    }
  }
}