$table-line-bg: #F7F7F7;

.rb-table {
  &--label-edit {
    .label-edit {
      position: relative;
      padding: 3px 0;
      & input[type="text"] {
        height: 30px;
      }
      &:last-child {
        @include border-radius(3px);
      }
      &__delete {
        position: absolute;
        top: 0;
        right: 0;
        margin: 8px 10px 0;
        & > i[class^="ico-"]:before {
          font-size: 16px;
        }
      }
    }
    tbody {
      tr {
        &:hover, &:focus {
          &:nth-child(even), &:nth-child(odd) {
            box-shadow: none;
          }
        }
      }
    }
  }
}