<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico">

    <link rel="icon" type="image/png" sizes="32x32" href="%PUBLIC_URL%/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="%PUBLIC_URL%/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="%PUBLIC_URL%/favicon-16x16.png">

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="%PUBLIC_URL%/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Compressed CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.4.3/dist/css/foundation.min.css" integrity="sha256-GSio8qamaXapM8Fq9JYdGNTvk/dgs+cMLgPeevOYEx0= sha384-wAweiGTn38CY2DSwAaEffed6iMeflc0FMiuptanbN4J+ib+342gKGpvYRWubPd/+ sha512-QHEb6jOC8SaGTmYmGU19u2FhIfeG+t/hSacIWPpDzOp5yygnthL3JwnilM7LM1dOAbJv62R+/FICfsrKUqv4Gg==" crossorigin="anonymous">

    <link href="../../css/dirq_ui/css/main.css" rel="stylesheet">
    <link href="../../css/main.css" rel="stylesheet">
    <title>RBOTS</title>
</head>
<body>

<div id="theme-a" class="sticky-sidebar">

    <div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="large">
        <button class="menu-icon" type="button" data-toggle=""></button>
        <div class="title-bar-title">Menu</div>
    </div>

    <div class="topbar" id="main-menu">

        <div class="main-top-nav grid-x">
            <div class="cell large-6 float-left">
                <div class="logo-appli-img"><a ui-sref="home()"><img src="img/rbots-logo.svg" alt="logo" title="logo"></a></div>
                <form ng-submit="search()" method="get">
                    <div class="search-user">

                        <input placeholder="{{'global.alt.title.action.search' | translate}}" id="search-box-top-nav" name="q" size="20" type="text" ng-model="KeyWordSearch" ng-trim="false" class="ng-pristine ng-untouched ng-valid">

                        <!--
                            <div class="header-large-text-error" ng-if="showMinLengthMessage">
                                <div class="container-span-error">
                                    <span >{{'global.minLengthKeywordMessage' |translate}}</span>
                                </div>
                            </div>
                        -->

                        <button id="searchButton" type="submit" ng-disabled="activeSearchButton()" ng-class="activeSearchButton()?'button-disable':''" disabled="disabled"><i class="ico-search"></i></button>
                    </div>
                    <a class="dark-link" ng-click="advancedSearch()">Search</a>
                </form>
            </div>

            <div class="cell large-6 float-right top-nav-settings" onclick="javascript: document.getElementById('main-top-nav').classList.toggle('active');">
                <button type="button" data-toggle="profile-dropdown">
                    <div class="top-nav-settings-profile">
                        <h4 ng-binding>{{username}}</h4>
                        <strong ng-binding>{{displayedName | translate}}</strong><span class="country-flag-fr"></span>
                    </div>
                    <div class="top-nav-settings-ico">
                        <i class="ico-settings ico-dark-blue"></i>
                        <i class="ico-expand-off ico-dark-blue"></i>
                    </div>
                </button>
                <div class="dropdown-pane dropdown-white" id="profile-dropdown" data-dropdown data-auto-focus="true">
                    <ul>
                        <li>
                            <form ng-controller="LanguageController">
                                <div ng-repeat="language in otherLanguages">
                                    <input id="radio-en" type="radio" ng-click="changeLanguage(language)" ng-if="language === 'en'"><label for="radio-en">{{language}}</label>
                                </div>
                                <div ng-repeat="language in otherLanguages">
                                    <input id="radio-fr" type="radio" ng-click="changeLanguage(language)" ng-if="lang === 'en'"><label for="radio-fr">{{language}}</label>
                                </div>
                            </form>
                        </li>
                        <li><a class="dropdown-item" ui-sref="consultUserPreferences">{{'global.preferences' | translate}}</a></li>
                    </ul>
                    <a class="dropdown-signout" ng-click="openModalLogOut()">
                        {{'global.alt.title.action.logout' | translate}}
                    </a>
                </div>

            </div>

        </div>

        <div ng-hide="aunrole">
            <ul class="dropdown menu" data-dropdown-menu>
                <li class="active">
                    <a ng-if="hasAccessToPool || hasAccessToCommitteeIc || isGuest || hasAccessToListDiffusion" translate="global.menu.ICreq">
                        <i class="ico-documentation ico-white ico-small"></i>
                        Documentation
                    </a>
                    <ul class="menu">
                        <li ng-if="hasAccessToPool"><a ui-sref="listpool()" translate="global.menu.porfolio">Vivier</a></li>
                        <li ng-if="hasAccessToCommitteeIc || isGuest"><a ui-sref="commiteic()" translate="global.menu.ICcom">Comité instruction OTS</a></li>
                        <li ng-if="hasAccessToListDiffusion"><a ui-sref="listRecipient()" translate="global.menu.RecipList">Liste instruction OTS</a></li>
                    </ul>
                </li>
                <li>
                    <a ng-if="hasAccessToReqOts || hasAccessToIdav || isGuest || hasAccessToOtsCommittee" translate="global.menu.instr">
                        <i class="ico-info ico-white ico-small"></i>Instruction
                    </a>
                    <ul class="menu">
                        <li ng-if="hasAccessToReqOts">
                            <a ui-sref="listdescription()" class="doc-menu" translate="global.menu.dash">Tableau de bord</a>
                        </li>
                        <li ng-if="hasAccessToIdav">
                            <a ui-sref="listIdav()" translate="global.menu.demOts">iDAV files</a>
                        </li>

                        <li ng-if="hasAccessToOtsCommittee || isGuest">
                            <a ui-sref="otscommittees()" translate="global.menu.otsCom">Comités OTS</a>
                        </li>

                        <li ng-if="hasAccessToOtsCommittee || isGuest">
                            <a ui-sref="listOtsActions()" translate="global.menu.monitoringOtsAction">Suivi des actions</a>
                        </li>

                        <li ng-if="hasAccessToCommitteeListDiffusion">
                            <a ui-sref="listRecipientCmtOtsGeneral()" translate="global.menu.RecipList">Liste de diffusion</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a ng-if="hasAccessToDeployment || hasAccessToDotation" translate="global.menu.depl" class="item-style">
                        Déploiement OTS
                    </a>
                    <ul class="menu">
                        <li><a ui-sref="deployments()" translate="global.menu.depl">Déploiement OTS</a></li>
                        <li ng-if="hasAccessToDotation">
                            <a ui-sref="supplyings()" class="doc-menu" translate="global.menu.monitoringSupplying">
                                Suivi des dotations
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a ng-if="hasAccessToBlockage" translate="global.menu.block"><i class="ico-flag ico-white ico-small"></i>Déploiement blocages</a>
                    <ul class="menu">
                        <li><a ui-sref="blockages()" translate="global.menu.block">Déploiement blocage</a></li>
                    </ul>
                </li>
                <li>
                    <a ng-if="hasAccessToReporting" translate="global.menu.reporting"><i class="ico-list ico-white ico-small"></i>Reporting</a>
                    <ul class="menu">
                        <li><a ui-sref="otsStatistics()">Statistiques OTS</a></li>
                    </ul>
                </li>
                <!--
                <li>
                    <a ng-if="displayElementForAprilProduction" translate="global.menu.consult">
                    Consultation
                    </a>
                </li>
                -->
                <li>
                    <a ng-if="hasAccessToAdministration" translate="global.menu.admin">
                        <i class="ico-filter ico-white ico-small"></i>
                        Administration
                    </a>
                    <ul class="menu">
                        <!--
                        <li ng-if="hasAccessToPerformance">
                            <a translate="global.menu.perf" ng-click="openJavamelody()">Performance</a>
                        </li>
                        -->
                        <li ng-if="hasAccessToAdministration"><a translate="global.menu.localOTSmanagers" ui-sref="listLocalOTSmanagers()">Managers locaux OTS et blocages</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="page-content-sidebar">
        <nav class="rb-sidebar">
            <header>
                <div class="rb-sidebar-back">
                    <button class="button-empty-small"><i class="ico-arrow-left"></i>Retour à la liste des CIOTS</button>
                </div>
                <div class="rb-sidebar-title">
                    <label class="rlabel">N° LUP Vivier</label>
                    <a class="hover-link"><h1>QX62010324</h1><span>Plus d'infos</span></a>
                </div>
                <div class="rb-sidebar-description">
                    X62 / TOP10 Asie-P / Déformation du bord du panneau latéral par la butée supérieure de la porte latérale coulissante (PLC) / C241 PAVILLON // CONCEPTION // Manque de rigidité du panneau latéral
                </div>
            </header>
            <div class="rb-sidebar-links">
                <ul>
                    <li><a href="demande.html"><i class="ico-flag"></i>Éléments déclencheurs de la demande</a></li>
                    <li class="active"><a href="equipe.html"><i class="ico-client"></i>Équipe</a></li>
                    <li><a href="description.html"><i class="ico-info"></i>Description du sujet</a></li>
                    <li><a href="dimension.html"><i class="ico-globe"></i>Dimensionnement du sujet</a></li>
                    <li><a href="defaillance.html"><i class="ico-warning"></i>Mode de défaillance / Causes</a></li>
                    <li><a href="solutions.html"><i class="ico-light"></i>Solutions</a></li>
                    <li><a href="quantification.html"><i class="ico-chart"></i>Quantification</a></li>
                    <li><a href="avis.html"><i class="ico-comment"></i>Formalisation des avis</a></li>
                    <li><a href="annexes.html"><i class="ico-list"></i>Annexes</a></li>
                </ul>
            </div>
        </nav>
        <div class="rb-container">
            <div class="rb-container-content">
                <header class="rb-container-header">
                    <label class="rlabel">CIOTS > 20 OCT 2019 > Dossier d'instruction</label>
                    <h1>Équipe</h1>
                </header>
                <fieldset class="form-grid">
                    <div class="grid-x">
                        <div class="cell large-6">
                            <div class="grid-x">
                                <div class="field cell large-6">
                                    <span data-tooltip tabindex="1" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget est in dolor sagittis vulputate."><label class="rlabel">Demandeur</label></span>
                                    <input type="text" value="Dupont Nicolas">
                                </div>
                                <div class="field cell large-6">
                                    <label class="rlabel">Secteur d'appartenance</label>
                                    <input type="text" value="DIR. DQSC-C CLIENTS & SERVICE" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="cell large-6"></div>
                    </div>

                    <div class="grid-x">
                        <div class="cell large-6">
                            <div class="grid-x">
                                <div class="field cell large-6">
                                    <span data-tooltip tabindex="1" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget est in dolor sagittis vulputate."><label class="rlabel">Rédacteur</label></span>
                                    <input type="text" value="CHARBONNIER Christophe">
                                </div>
                                <div class="field cell large-6">
                                    <label class="rlabel">Secteur d'appartenance</label>
                                    <input type="text" value="DIR. DEA-VU ING. DU DEV. VEHICULE VU" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="cell large-6"></div>
                    </div>
                    <div class="grid-x">
                        <div class="cell large-6">
                            <div class="grid-x">
                                <div class="field cell large-6">
                                    <span data-tooltip tabindex="1" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget est in dolor sagittis vulputate."><label class="rlabel">Valideur</label></span>
                                    <input type="text" value="HUET Nicolas">
                                </div>
                                <div class="field cell large-6">
                                    <label class="rlabel">Secteur d'appartenance</label>
                                    <input type="text" value="DIR. DQSC-CP QUALITE PRODUIT" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="cell large-6"></div>
                    </div>
                </fieldset>
                <fieldset class="form-grid">
                    <div class="field-separator">
                        <span data-tooltip tabindex="1" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget est in dolor sagittis vulputate."><label class="rlabel">Présentateurs</label></span>
                        <button class="button-blue-light-small"><i class="ico-plus"></i>Ajouter un présentateur</button>
                        <hr>
                    </div>
                    <table class="rb-table">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Secteur d'appartenance</th>
                            <th>Directeur</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>ANDRE Éric</td>
                            <td>DIR. DQSC-EV AQ ENG. PFMES & VEHICULE</td>
                            <td>BOUQUET Xavier</td>
                            <td class="rb-table-option-col">
                                <div class="rb-table-option">
                                    <a><i class="ico-trash ico-small ico-blue"></i></a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>RAFFY Philippe</td>
                            <td>DIR. DEA-VB CAISSE ET OUVRANTS EQUIPES</td>
                            <td>PLAIDEAU Patrick</td>
                            <td class="rb-table-option-col">
                                <div class="rb-table-option">
                                    <a><i class="ico-trash ico-small ico-blue"></i></a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>CHARBONNIER Christophe</td>
                            <td>DIR. DEA-VU ING. DU DEV. VEHICULE VU</td>
                            <td>COLOMBATO Leandro</td>
                            <td class="rb-table-option-col">
                                <div class="rb-table-option">
                                    <a><i class="ico-trash ico-small ico-blue"></i></a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>DUPONT Nicolas</td>
                            <td>DIR. DQSC-C CLIENTS & SERVICE</td>
                            <td>MARCO Pilar</td>
                            <td class="rb-table-option-col">
                                <div class="rb-table-option">
                                    <a><i class="ico-trash ico-small ico-blue"></i></a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </fieldset>
                <fieldset class="form-grid">
                    <div class="field-separator">
                        <span data-tooltip tabindex="1" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget est in dolor sagittis vulputate."><label class="rlabel">Participants</label></span>
                        <button class="button-blue-light-small"><i class="ico-plus"></i>Ajouter un participant</button>
                        <hr>
                    </div>
                    <table class="rb-table">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Secteur d'appartenance</th>
                            <th>Directeur</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>ANDRE Éric</td>
                            <td>DIR. DQSC-EV AQ ENG. PFMES & VEHICULE</td>
                            <td>BOUQUET Xavier</td>
                            <td class="rb-table-option-col">
                                <div class="rb-table-option">
                                    <a><i class="ico-trash ico-small ico-blue"></i></a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>RAFFY Philippe</td>
                            <td>DIR. DEA-VB CAISSE ET OUVRANTS EQUIPES</td>
                            <td>PLAIDEAU Patrick</td>
                            <td class="rb-table-option-col">
                                <div class="rb-table-option">
                                    <a><i class="ico-trash ico-small ico-blue"></i></a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </fieldset>
                <fieldset class="form-grid">
                    <div class="field-separator">
                        <span data-tooltip tabindex="1" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget est in dolor sagittis vulputate."><label class="rlabel">Ingénieurs en Chef Adjoints concernés</label></span>
                        <button class="button-blue-light-small"><i class="ico-plus"></i>Ajouter un ingénieur</button>
                        <hr>
                    </div>
                    <table class="rb-table">
                        <tbody>
                        <tr>
                            <td>BARBEREAU Pascal</td>
                            <td class="rb-table-option-col">
                                <div class="rb-table-option">
                                    <a><i class="ico-trash ico-small ico-blue"></i></a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </fieldset>
                <fieldset class="form-grid">
                    <div class="field-separator">
                        <span data-tooltip tabindex="1" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget est in dolor sagittis vulputate."><label class="rlabel">Directeurs de Programme Adjoints concernés</label></span>
                        <button class="button-blue-light-small"><i class="ico-plus"></i>Ajouter un directeur</button>
                        <hr>
                    </div>
                    <table class="rb-table">
                        <tbody>
                        <tr>
                            <td>CARVALHO Helene</td>
                            <td class="rb-table-option-col">
                                <div class="rb-table-option">
                                    <a><i class="ico-trash ico-small ico-blue"></i></a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </fieldset>
                <fieldset class="form-grid">
                    <div class="field-separator">
                        <span data-tooltip tabindex="1" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget est in dolor sagittis vulputate."><label class="rlabel">ISSC concernés</label></span>
                        <button class="button-blue-light-small"><i class="ico-plus"></i>Ajouter un ISSC</button>
                        <hr>
                    </div>
                    <table class="rb-table">
                        <tbody>
                        <tr>
                            <td>CARVALHO Helene</td>
                            <td class="rb-table-option-col">
                                <div class="rb-table-option">
                                    <a><i class="ico-trash ico-small ico-blue"></i></a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </fieldset>
                <fieldset class="form-grid">
                    <div class="field-separator">
                        <span data-tooltip tabindex="1" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget est in dolor sagittis vulputate."><label class="rlabel">IAQ concernés</label></span>
                        <button class="button-blue-light-small"><i class="ico-plus"></i>Ajouter un IAQ</button>
                        <hr>
                    </div>
                    <table class="rb-table">
                        <tbody>
                        <tr>
                            <td>DUPONT Nicolas</td>
                            <td class="rb-table-option-col">
                                <div class="rb-table-option">
                                    <a><i class="ico-trash ico-small ico-blue"></i></a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>DUPONT Nicolas</td>
                            <td class="rb-table-option-col">
                                <div class="rb-table-option">
                                    <a><i class="ico-trash ico-small ico-blue"></i></a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>DUPONT Nicolas</td>
                            <td class="rb-table-option-col">
                                <div class="rb-table-option">
                                    <a><i class="ico-trash ico-small ico-blue"></i></a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>DUPONT Nicolas</td>
                            <td class="rb-table-option-col">
                                <div class="rb-table-option">
                                    <a><i class="ico-trash ico-small ico-blue"></i></a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </fieldset>
                <fieldset class="form-grid">
                    <div class="field-separator">
                        <span data-tooltip tabindex="1" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget est in dolor sagittis vulputate."><label class="rlabel">RNPO concernés</label></span>
                        <button class="button-blue-light-small"><i class="ico-plus"></i>Ajouter un RNPO</button>
                        <hr>
                    </div>
                    <table class="rb-table">
                        <tbody>
                        <tr>
                            <td>MONEREAU Christophe</td>
                            <td class="rb-table-option-col">
                                <div class="rb-table-option">
                                    <a><i class="ico-trash ico-small ico-blue"></i></a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </fieldset>
                <fieldset class="form-grid submit">
                    <button class="button-empty">Annuler et retourner à la liste des CIOTS</button>
                    <button class="button-yellow"><i class="ico-save"></i>Sauvegarder</button>
                </fieldset>
            </div>
        </div>
    </div>

    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <!-- Compressed JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.4.3/dist/js/foundation.min.js" integrity="sha256-mRYlCu5EG+ouD07WxLF8v4ZAZYCA6WrmdIXyn1Bv9Vk= sha384-KzKofw4qqetd3kvuQ5AdapWPqV1ZI+CnfyfEwZQgPk8poOLWaabfgJOfmW7uI+AV sha512-0gHfaMkY+Do568TgjJC2iMAV0dQlY4NqbeZ4pr9lVUTXQzKu8qceyd6wg/3Uql9qA2+3X5NHv3IMb05wb387rA==" crossorigin="anonymous"></script>
    <script>
        $(document).foundation();
    </script>

</body>
</html>