$sidebar-px: 320px;
$sidebar-top: 132px;
$sidebar-top-break: 42px;


.sticky-sidebar {
  .topbar {
    position: fixed;
    width: 100%;
    z-index: 2;
  }
  .page-content-sidebar {
    top: $sidebar-top;
    position: relative;
    margin-bottom: $sidebar-top + $margin-gutter;
    width: calc( 100% - 30px );
    margin-left: $margin-gutter;
    margin-right: $margin-gutter;
  }
}

.page-content-sidebar {
  display: table;
  position: relative;
  .rb-sidebar {
    position: fixed;
    background-color: white;
    width: $sidebar-px;
    border-right: $border;
    padding: $padding-gutter;
    float: left;
    bottom: $margin-gutter;
    top: $sidebar-top;
    @include border-radius(6px 0 0 6px);
  }
  .rb-container {
    @include border-radius(0 6px 6px 0);
    background-color: white;
    position: fixed;
    bottom: $margin-gutter;
    top: $sidebar-top;
    float: right;
    right: $margin-gutter;
    width: calc(100% - ( #{$sidebar-px + $margin-gutter + $padding-gutter} - 10px ) );
    padding: 6px 0;
    .rb-container-header {
      margin-bottom: $padding-gutter + $margin-gutter;
    }
    .rb-container-content {
      padding: $padding-gutter;
      overflow-y: scroll;
      height: 100%;
      &.full {
        & > .form-grid {
          max-width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .page-content-sidebar {
    .rb-sidebar {
      top: $sidebar-top-break + $margin-gutter;
    }
    .rb-container {
      top: $sidebar-top-break + $margin-gutter;
    }
  }
}