$antlength: 5px;
$antwidth: 2px;
$antcolor: lighten($blue, 45%);

@keyframes marching-ants {
  0%   {background-position: 0 0, $antlength 100%, 0 $antlength, 100% 0;}
  100% {background-position: $antlength 0, 0 100%, 0 0, 100% $antlength;}
}

.drag-and-drop {
  display: block;
  width: 100%;
  background-color: #F6F6F6;
  @include border-radius(6px);
  padding: 25px;
  text-align: center;
  border: 2px dotted #dddddd;
  font-weight: 500;
  font-size: $font-size;
  color: $grey-blue;
  & > i {
    display: block;
    font-size: 32px;
    margin-bottom: 2px;
  }
  &.hover {
    border: none;
    background-color: lighten($blue, 55%);
    color: $blue;

    background-image: linear-gradient(90deg, $antcolor 50%, transparent 50%),
    linear-gradient(90deg, $antcolor 50%, transparent 50%),
    linear-gradient(0, $antcolor 50%, transparent 50%),
    linear-gradient(0, $antcolor 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: $antlength $antwidth, $antlength $antwidth, $antwidth $antlength, $antwidth $antlength;
    animation: marching-ants 200ms infinite linear;
    & > i {
      color: lighten($blue, 40%);
    }
  }
}