.reveal-overlay {
  .reveal {
    @include border-radius(6px);
    border: medium none;
    outline: none;
    box-shadow: $box-shadow-black;
    h1 {
      font-family: Read;
      font-size: $font-h4;
      font-weight: 500;
    }
    .lead {
      line-height: 1.4;
    }
    &--alert {
      width: auto;
      padding: 20px 25px;
      p {
        font-size: $font-size;
        text-align: center;
      }
      &--cta {
        text-align: center;
        button {
          margin: 0 5px;
        }
      }
    }
    &--arca {
      h1 {
        margin-bottom: 25px;
      }
      .arca-table {
        padding-top: 25px;
        .rb-table {
          tr {
            &:hover, &:focus {
              td {
                color: $blue;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}