.pagination {
  li {
    &:first-child, &:last-child {
      display: inline;
    }
    &.pagination-label {
      color: black;
      cursor: default;
      &:hover, &:focus {
        border-color: transparent;
      }
    }
    &.unavailable {
      &:first-child, &:last-child {
        display: none;
      }
    }
  }
  .unavailable {
    display: none;
  }
}

.designV3 ul.pagination li.unavailable {
  &:first-child, &:last-child {
    display: none;
  }
}