.rb-sidebar {
  .rb-sidebar-back {
    position: relative;
    top: -13px;
    left: -15px;
  }
  .rb-sidebar-title {
    margin: 8px 0;
    cursor: pointer;
    & > a, & > div {
      cursor: initial;
      h1 {
        font-family: $main-font;
        font-weight: bold;
        display: inline;
      }
      .status {
        position: relative;
        top: -5px;
        margin-left: 15px;
        display: inline-table;
      }
      &.hover-link {
        cursor: pointer;
        span {
          display: none;
          margin-left: 10px;
          color: $blue;
        }
        &:hover, &:focus {
          h1 {
            color: $dark-grey-blue;
          }
          span {
            display: inline-block;
          }
        }
      }
    }
  }
  .rb-sidebar-description {
    margin: 15px 0 25px;
    & > .strong, & > .rlabel {
      display: inline;
    }
    .status-color {
      margin-right: 15px;
    }
    .toggle-view-button {
      margin-top: 15px;
    }
  }
  .rb-sidebar-links {
    ul {
      position: relative;
      left: -13px;
      width: calc(100% + 13px);
      & > li {

        display: table;
        margin: 15px 0;
        & > a {
          color: black;
          background-color: transparent;
          @include border-radius(30px);
          cursor: pointer;
          @include ease(background-color);
          padding: 8px 15px 8px 12px;
          & > i {
            padding-right: 10px;
            width: 28px;
            display: inline-table;
            text-align: center;
            font-size: 16px;
          }
          &:hover, &:focus {
            i {
              color: inherit;
            }
          }
        }
        &:hover, &:focus, &.active {
          & > a {
            background-color: $brand-color;
          }
        }
      }
    }
    .ico-list {
      padding-right: 14px;
    }
  }
}