@font-face {
    font-family: "dirq-icons";
    src: url("./dirq-icons.eot?d3fcb3cf07767dbfabaa2439b2d5f267?#iefix") format("embedded-opentype"),
url("./dirq-icons.woff2?d3fcb3cf07767dbfabaa2439b2d5f267") format("woff2"),
url("./dirq-icons.woff?d3fcb3cf07767dbfabaa2439b2d5f267") format("woff"),
url("./dirq-icons.ttf?d3fcb3cf07767dbfabaa2439b2d5f267") format("truetype"),
url("./dirq-icons.svg?d3fcb3cf07767dbfabaa2439b2d5f267#dirq-icons") format("svg");
}

i {
    line-height: 1;
}

i[class^="ico-"]:before, i[class*=" ico-"]:before {
    font-family: dirq-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ico-a:before {
    content: "\f101";
}
.ico-admin:before {
    content: "\f102";
}
.ico-arrow-left:before {
    content: "\f103";
}
.ico-arrow-rd-left:before {
    content: "\f104";
}
.ico-arrow-rd-right:before {
    content: "\f105";
}
.ico-arrow-right:before {
    content: "\f106";
}
.ico-assistant:before {
    content: "\f107";
}
.ico-attached:before {
    content: "\f108";
}
.ico-avatar:before {
    content: "\f109";
}
.ico-back:before {
    content: "\f10a";
}
.ico-box:before {
    content: "\f10b";
}
.ico-calendar:before {
    content: "\f10c";
}
.ico-car:before {
    content: "\f10d";
}
.ico-chart:before {
    content: "\f10e";
}
.ico-clear:before {
    content: "\f10f";
}
.ico-client:before {
    content: "\f110";
}
.ico-close:before {
    content: "\f111";
}
.ico-comment:before {
    content: "\f112";
}
.ico-contact-mail:before {
    content: "\f113";
}
.ico-contact_mail:before {
    content: "\f114";
}
.ico-currency:before {
    content: "\f115";
}
.ico-dashboard:before {
    content: "\f116";
}
.ico-database:before {
    content: "\f117";
}
.ico-deploy:before {
    content: "\f118";
}
.ico-documentation:before {
    content: "\f119";
}
.ico-download:before {
    content: "\f11a";
}
.ico-edit:before {
    content: "\f11b";
}
.ico-expand-off:before {
    content: "\f11c";
}
.ico-expand-on:before {
    content: "\f11d";
}
.ico-factory:before {
    content: "\f11e";
}
.ico-filter-b:before {
    content: "\f11f";
}
.ico-filter:before {
    content: "\f120";
}
.ico-flag:before {
    content: "\f121";
}
.ico-folder:before {
    content: "\f122";
}
.ico-globe:before {
    content: "\f123";
}
.ico-home:before {
    content: "\f124";
}
.ico-include:before {
    content: "\f125";
}
.ico-info:before {
    content: "\f126";
}
.ico-key:before {
    content: "\f127";
}
.ico-keys2:before {
    content: "\f128";
}
.ico-light:before {
    content: "\f129";
}
.ico-links:before {
    content: "\f12a";
}
.ico-list:before {
    content: "\f12b";
}
.ico-location:before {
    content: "\f12c";
}
.ico-lock:before {
    content: "\f12d";
}
.ico-logo-a:before {
    content: "\f12e";
}
.ico-logo-app:before {
    content: "\f12f";
}
.ico-logo-monochrome-grey:before {
    content: "\f130";
}
.ico-logo.dirq:before {
    content: "\f131";
}
.ico-mail-xls:before {
    content: "\f132";
}
.ico-mail:before {
    content: "\f133";
}
.ico-menu-burger:before {
    content: "\f134";
}
.ico-menu:before {
    content: "\f135";
}
.ico-minus:before {
    content: "\f136";
}
.ico-more:before {
    content: "\f137";
}
.ico-off:before {
    content: "\f138";
}
.ico-panel:before {
    content: "\f139";
}
.ico-pdf:before {
    content: "\f13a";
}
.ico-plus:before {
    content: "\f13b";
}
.ico-ppt:before {
    content: "\f13c";
}
.ico-renault:before {
    content: "\f13d";
}
.ico-rpic2:before {
    content: "\f13e";
}
.ico-save:before {
    content: "\f13f";
}
.ico-search-rd:before {
    content: "\f140";
}
.ico-search:before {
    content: "\f141";
}
.ico-select:before {
    content: "\f142";
}
.ico-sets:before {
    content: "\f143";
}
.ico-setting-full:before {
    content: "\f144";
}
.ico-settings:before {
    content: "\f145";
}
.ico-tag:before {
    content: "\f146";
}
.ico-time:before {
    content: "\f147";
}
.ico-timeout:before {
    content: "\f148";
}
.ico-toggle:before {
    content: "\f149";
}
.ico-tool:before {
    content: "\f14a";
}
.ico-trash:before {
    content: "\f14b";
}
.ico-upload:before {
    content: "\f14c";
}
.ico-valid-cercle:before {
    content: "\f14d";
}
.ico-validation:before {
    content: "\f14e";
}
.ico-view-off:before {
    content: "\f14f";
}
.ico-view:before {
    content: "\f150";
}
.ico-warning:before {
    content: "\f151";
}
.ico-word:before {
    content: "\f152";
}
