@font-face {
  font-family: 'sweetsans';
  src: url('../font/alliance/sweetsans-regular.woff2') format('woff2'),
  url('../font/alliance/sweetsans-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}