@font-face {
  font-family: 'bebas_neue';
  src: url('../font/avtovaz/bebas-neue-regular.eot');
  src: url('../font/avtovaz/bebas-neue-regular.eot?#iefix') format('embedded-opentype'),
  url('../font/avtovaz/bebas-neue-regular.woff2') format('woff2'),
  url('../font/avtovaz/bebas-neue-regular.woff') format('woff'),
  url('../font/avtovaz/bebas-neue-regular.ttf') format('truetype'),
  url('../font/avtovaz/bebas-neue-regular.svg#bebas_neueregular') format('svg');
  font-weight: 500;
  font-style: normal;

}




@font-face {
  font-family: 'bebas_neue';
  src: url('../font/avtovaz/bebas-neue-light.eot');
  src: url('../font/avtovaz/bebas-neue-light.eot?#iefix') format('embedded-opentype'),
  url('../font/avtovaz/bebas-neue-light.woff2') format('woff2'),
  url('../font/avtovaz/bebas-neue-light.woff') format('woff'),
  url('../font/avtovaz/bebas-neue-light.ttf') format('truetype'),
  url('../font/avtovaz/bebas-neue-light.svg#bebas_neuelight') format('svg');
  font-weight: 300;
  font-style: normal;

}




@font-face {
  font-family: 'bebas_neue';
  src: url('../font/avtovaz/bebas-neue-book.eot');
  src: url('../font/avtovaz/bebas-neue-book.eot?#iefix') format('embedded-opentype'),
  url('../font/avtovaz/bebas-neue-book.woff2') format('woff2'),
  url('../font/avtovaz/bebas-neue-book.woff') format('woff'),
  url('../font/avtovaz/bebas-neue-book.ttf') format('truetype'),
  url('../font/avtovaz/bebas-neue-book.svg#bebas_neuebook') format('svg');
  font-weight: 400;
  font-style: normal;

}




@font-face {
  font-family: 'bebas_neue';
  src: url('../font/avtovaz/bebas-neue-bold.eot');
  src: url('../font/avtovaz/bebas-neue-bold.eot?#iefix') format('embedded-opentype'),
  url('../font/avtovaz/bebas-neue-bold.woff2') format('woff2'),
  url('../font/avtovaz/bebas-neue-bold.woff') format('woff'),
  url('../font/avtovaz/bebas-neue-bold.ttf') format('truetype'),
  url('../font/avtovaz/bebas-neue-bold.svg#bebas_neuebold') format('svg');
  font-weight: 600;
  font-style: normal;

}




@font-face {
  font-family: 'bebas_neue';
  src: url('../font/avtovaz/bebas-neue-thin.eot');
  src: url('../font/avtovaz/bebas-neue-thin.eot?#iefix') format('embedded-opentype'),
  url('../font/avtovaz/bebas-neue-thin.woff2') format('woff2'),
  url('../font/avtovaz/bebas-neue-thin.woff') format('woff'),
  url('../font/avtovaz/bebas-neue-thin.ttf') format('truetype'),
  url('../font/avtovaz/bebas-neue-thin.svg#bebas_neuethin') format('svg');
  font-weight: 200;
  font-style: normal;

}