.dropdown-white {
  background-color: white;
  box-shadow: $box-shadow;
  @include border-radius(6px);
  text-align: left;
  font-size: $font-input;
  font-weight: 500;
  width: inherit;
  min-width: 220px;
  margin-left: 2px;
  top: 62px !important;
  [type="radio"] {
    margin: 0 0 7px 0;
  }
  .dropdown-item {
    display: table;
    width: 100%;
  }
  .dropdown-signout {
    background-color: $sun-yellow;
    color: $dark;
    display: table;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    @include border-radius(0 0 6px 6px);
    text-transform: uppercase;
    @include ease(background-color);
    &:hover, &:focus {
      @include ease(background-color);
      background-color: lighten( $sun-yellow, 20% );
    }
  }
  form {
    margin-bottom: 10px;
  }
  ul {
    padding: 25px 0 10px;
    label {
      color: $dark-grey;
    }
    input:checked + label {
      color: $dark;
    }
  }
}