.menu-icon {
  display: none;
}

body {
  background-color: $darker;
}

#theme-a {
  background-color: transparent;
  .main-top-nav {
    form {
      display: table;
    }
    .dropdown {
      display: inherit;
    }
    .top-nav-settings {
      h4 {
        font-size: $font-input;
        font-weight: 600;
      }
      &:hover, &:focus {
        opacity: 1;
      }
      .top-nav-settings-profile {
        text-align: right;
      }
    }
  }
}

.navbar {
  background-color: white;
  display: table;
  width: 100%;
}

.logo-appli-img {
  width: 100px;
}

.logo-appli-img, .search-user {
  float: left;
}

.search-user {
  border: 1px solid $light-grey;
  @include border-radius(30px);
  margin: 5px 0 0 30px;
  width: 175px;
  input[type="text"] {
    background-color: transparent;
    margin: 0;
    display: initial;
    height: 30px;
  }
  button {
    margin-top: 5px;
  }
  &:hover, &:focus {
    border: 1px solid $sun-yellow;
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $dark-grey;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: $dark-grey;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: $dark-grey;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: $dark-grey;
  }
}

.dark-link {
  color: $darker;
  font-size: $font-input;
  margin: 11px 0 0 15px;
  display: inline-table;
  &:hover, &:focus {
    color: $blue;
  }
}

.menu-icon {
  display: inherit;
}

.dropdown.menu {
  margin: 0 auto;
  background: inherit;
  padding-top: 0;
  & > li {
    display: inline-block;
    padding: 0 5px;
    color: white;
    a {
      font-weight: 500;
      padding: 20px 5px;
      color: white;
      font-size: $font-input;
      border-bottom: 3px solid transparent;
      text-align: left;
    }
    &.active {
      & > a {
        background-color: transparent;
        border-bottom: 3px solid $sun-yellow;
        color: white;
      }
    }
    &.is-active {
      & > a {
        color: white;
      }
    }
    &.is-dropdown-submenu-parent > a::after {
      border: inset 4px;
      border-color: white transparent transparent;
      opacity: 0.6;
      right: 6px;
      margin-top: -1px;
    }
    &.opens-right {
      & > .is-dropdown-submenu {
        border: medium none;
        @include border-radius(6px);
        box-shadow: $box-shadow;
        top: 58px;
      }
    }
    i {
      margin-right: 10px;
    }
    .submenu {
      padding: 10px 0;
      & > li {
        & > a {
          color: $dark;
          padding: 10px 20px;
          &:hover, &:focus {
            background-color: $sun-yellow;
          }
        }
      }
    }
  }
}

.main-content.grid-container.fluid {
  background-color: white;
  @include border-radius(6px);
  margin: 0 15px 15px;
  padding: 1.6rem;
}

h1 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.dropdown-pane {
  border: medium none;
  padding: 0;
}

@media screen and (max-width: 63.9375em) {
  .dropdown-white {
    &.is-open {
      position: relative;
      top: initial !important;
      box-shadow: none;
      text-align: center;
      ul {
        margin-left: 0;
      }
      .dropdown-signout {
        background-color: transparent;
        padding: 0 0 10px;
        &:hover, &:focus {
          background-color: transparent;
        }
      }
    }
  }
  .main-content.grid-container.fluid {
    margin-top: .9375rem;
  }
  .title-bar {
    background-color: white;
    color: $dark;
    .title-bar-title {
      font-size: $font-sm;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 0.03em;
    }
    .menu-icon {
      margin-right: 15px;
      &::after {
        background: $dark;
        box-shadow: 0 5px 0 $dark,0 10px 0 $dark;
      }
    }
  }
  .topbar {
    .large-6 {
      width: 100%;
    }
    .search-user {
      margin: 15px 0;
      width: 100%;
      input[type="text"] {
        text-align: center;
        padding-left: 47px;
      }
    }
    .dark-link {
      width: 100%;
      text-align: center;
      margin: 0;
      display: table;
    }
  }
  .logo-appli-img {
    display: none;
  }
  #theme-a .main-top-nav {
    form {
      margin: 0 auto 10px;
    }
    .top-nav-settings {
      text-align: center;
      margin: 5px 0;
      .top-nav-settings-profile {
        float: initial;
        display: inline-block;
        & > h4 {
          text-align: center;
        }
      }
      .top-nav-settings-ico {
        display: none;
      }
    }
  }
  .dropdown.menu {
    width: 100%;
    & > li {
      display: block;
      padding: 0;
      & > a  {
        text-align: center;
        &.active, &:hover, &:focus {
          background-color: rgba(255, 255, 255, 0.2);
        }
      }
      &.active > a {
        border-bottom: transparent;
      }
      &.is-dropdown-submenu-parent > a::after {
        right: 25px;
      }
      &.opens-right > .is-dropdown-submenu {
        padding: 0;
        box-shadow: none;
        position: relative;
        top: initial;
        background-color: transparent;
        border-bottom: 1px solid rgba(255,255,255, 0.2);
        border-top: 1px solid rgba(255,255,255, 0.2);
        @include border-radius(0);
        a {
          padding: 10px 0;
          color: white;
          text-align: center;
          &:hover, &:focus {
            background-color: rgba(255, 255, 255, 0.2);
          }
        }
      }
    }
  }
}