p {
  font-size: inherit;
  font-weight: 400;
}

code {
  border: medium none;
  background: none;
  padding: 0;
}

ul {
  margin-left: 0;
  line-height: inherit;
}

h1 {
  text-transform: initial;
  font-weight: bold;
  letter-spacing: -0.02em;
}

.required {
  color: $red;
}

.page-content {
  .rb-header h1 {
    letter-spacing: -0.03em;
  }
}

.ico-trash {
  &:before {
    color: $red;
  }
}

:focus {
  outline: none;
}

button {
  margin: 0;
}

.tags-input .tags {
  padding: 0;
  -webkit-appearance: inherit;
  -moz-appearance: inherit;
  appearance: inherit;
  .input {
    margin: 0 0 0 5px;
    height: inherit !important;
    padding: 12px 5px;
    font: inherit;
  }
  .tag-item {
    margin: 5px 0 0 5px;
  }
}

.material-inputV3 .main-input {
  padding: 10px;
  @include border-radius(3px);
  & > .margin-5 {
    margin: 0;
  }
}