hr {
  border-color: $white;
}

.field-separator {
  position: relative;
  margin-bottom: 25px;
  width: 100%;
  float: left;
  span[data-tooltip] {
    & > .rlabel {
      top: 3px;
    }
    &:hover, &:focus {
      & > .rlabel {
        color: darken($blue, 15%);
      }
    }
  }
  label, span[data-tooltip] > .rlabel {
    text-transform: uppercase;
    font-weight: 600;
    background-color: white;
    padding-right: 10px;
    font-size: $font-input;
    position: relative;
    z-index: 1;
    display: inline;
    color: black;
  }
  hr {
    position: absolute;
    top: 9px;
    width: 100%;
    margin: 0;
    right: 0;
    border-color: $white;
    max-width: 100%;
  }
  & > i[class*="ico-"] {
    font-size: 18px;
    background-color: white;
    display: inline-table;
    position: relative;
    z-index: 1;
    padding-right: 10px;
    float: left;
  }
  & > button {
    z-index: 1;
    position: absolute;
    top: -5px;
    margin-left: 25px;
    &::before {
      content: '';
      display: block;
      height: 30px;
      position: absolute;
      background-color: white;
      width: 10px;
      top: 0;
      left: -10px;
    }
    &::after {
      content: '';
      display: block;
      height: 30px;
      position: absolute;
      background-color: white;
      width: 10px;
      top: 0;
      right: -10px;
    }
  }
  .rlabel-info {
    text-transform: uppercase;
    font-weight: 600;
    background-color: white;
    padding-right: 10px;
    font-size: $font-input;
    position: relative;
    z-index: 1;
    display: inline;
    color: black;
  }
}