@import "../vendors/dirq_ui/scss/forms/_forms";

@import "_input";
@import "_input-lang";
@import "_select";
@import "_datepicker";
@import "_input-tags";
@import "_field-separator";
@import "_checkbox";
@import "_attached-files";
@import "_radio";


.field {
  margin: 0 0 1rem;
}

.field-text-twin {
  display: table;
  width: 100%;
}

fieldset {
  margin-bottom: 40px;
}