@import "../vendors/dirq_ui/scss/forms/_forms";

@import "_input";
@import "_input-lang";
@import "_select";
@import "_datepicker";
@import "_input-tags";
@import "_field-separator";
@import "_checkbox";
@import "_attached-files";
@import "_radio";
@import "_textarea";
@import "_form-grid";
@import "_submit";


.main-top-nav {
  .search-user {
    margin-bottom: 0;
    &:hover, &:focus {
      border-bottom: 1px solid $sun-yellow;
    }
  }
}

.field {
  margin: 0 0 1rem 0;
  padding-right: 15px;
}

.field-text-twin {
  display: table;
  width: 100%;
}

fieldset {
  margin-bottom: 40px;
}

.rlabel {
  //white-space: nowrap;
}