.submit {
  border-top: $border;
  padding-top: $padding-gutter;
  text-align: right;
  width: 100%;
  float: inherit;
  //box-shadow: $box-shadow;
  //@include border-radius(6px);
  button {
    margin-left: 5px;
  }
}