@import "../vendors/dirq_ui/scss/elements/buttons";

button[class*="button-"] {
  &:hover, &:focus {
    box-shadow: $box-shadow-black;
  }
}

button[class*="-small"] {
  padding: 0 10px;
  & > i[class*="ico-"] {
    padding-right: 5px;
    top: initial;
    float: initial;
  }
}

.button-blue-empty-small {
  @include button;
  color: $blue;
  border: 1px solid $blue;
  height: 30px;
  padding: 0 10px;
  &:hover, &:focus {
    background-color: $blue;
    color: white;
    & > i[class*="ico-"] {
      color: white;
    }
  }
}

.button-yellow {
  &:hover, &:focus {
    background-color: lighten( $sun-yellow, 0 );
  }
}

.button-red {
  &:hover, &:focus {
    background-color: lighten($red, 0);
  }
}

.button-blue-light {
  &:hover, &:focus {
    background-color: lighten($blue, 55%);
  }
}

.button-empty {
  &:hover, &:focus {
    background-color: white;
  }
}

.button-red {
  &:hover, &:focus {
    background-color: lighten($red, 55%);
  }
}